body {
  font-family: Times, "Times New Roman", serif;
  font-size: 110%;

  color: navy;
  width: 800px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

h1 {
   font-size: 140%;
}

h2 {
   font-size: 130%;
}

h3 {
   font-size: 120%;
}

h4 {
   font-size: 110%;
}

#header {
   border-bottom: 4px solid navy;
   text-align: center;
   font-size: 170%;
   font-weight: bold;
   text-align: center;
   width: 100%;
}


#navigation {
   float: left;
   left: 0;
   font-size: 90%;
   font-weight: bold;
   /* The following width has been chosen
      so that it boxes correctly the SF logo.  */
   width: 125px;
   border: 2px solid black;
   margin-top: 1em;
   margin-bottom: 1em;
}

#navigation ul {
   list-style: none; 
   margin: 0;
   padding: 0;
}

#navigation ul li {
   margin: 0;
   padding: 0;
   border-top: 1px solid navy; 
   text-align: center;
   /* The following dimensions have been chosen
      so that the boxes look right, when compared
      to the SF logo.  */
   width: 125px;
   height: 37px;
}

#navigation ul li a {
   display: block;
   padding: auto;
   color: navy;
   /* border-top: 0.5em solid red; */
   border-bottom: none;
   text-decoration: none;
   width: 100%;
   height: 100%;
}

#navigation ul li a:link:hover {
   color: white;
   background-color: navy;
}

#navigation img {
   border: 0;
   width: 125px;
   height: 37px;
}


#main {
   margin-top: 0;
   padding-top: 0;
   margin-left: 200px;    
   width: 600px;
   text-align: justify
}


#footer {
   font-size: medium;
   text-align: center;
   clear: both;
   border-top: 1px solid navy;
   width: 75%;
   margin-top: 5px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 10px;
}

.description {
   font-size: 110%;
}

.description dt {
   font-weight: bold;
}

.description dd {
   margin-bottom: 0.5em;
}

.description ul {
   font-size: 110%;
}

#openaxiom {
   font-family: monospace;
   font-size: 110%;
}

#openaxiom pre {
   border-width: 1px;
   border-color: navy;
   border-style: solid;
   font-size: 100%;
}
